<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluid Simulation - Wing Designer</title>
    <!-- Link to CSS and Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Fluid Simulation - Wing Designer</h1>
    <div id="simulation-container">
        <canvas id="drawingCanvas" width="800" height="320"></canvas>
        <div id="controls">
            <!-- Updated Buttons -->
            <button id="startSimulation">Start Simulation</button>
            <button id="stopSimulation">Stop Simulation</button>
            <button id="clearCanvas">Clear Canvas</button>
            <label for="inletVelocity">Inlet Velocity:</label>
            <input type="range" id="inletVelocity" min="0.01" max="0.2" step="0.01" value="0.125">
            <label for="viscosity">Viscosity:</label>
            <input type="range" id="viscosity" min="0.51" max="0.93" step="0.01" value="0.565">
            <label for="resolution">Resolution (Nx, Ny):</label>
            <input type="number" id="nx" placeholder="Nx" min="1" value="200">
            <input type="number" id="ny" placeholder="Ny" min="1" value="80">
            <label for="shape">Draw Shape:</label>
            <select id="shape">
                <option value="none">None</option>
                <option value="square">Square</option>
                <option value="circle">Circle</option>
                <option value="line">Line</option>
            </select>
        </div>
    </div>

    <script id="heatVert" type="x-shader/x-vertex">
        attribute vec2 dimensions;
        attribute vec2 position;  // Vertex position (x, y)
        attribute float velocity; // Normed velocity
        attribute float pressure; // Normed pressure
  
        varying vec4 v_color;
        
        void main() {
            // Set vertex position: vec4(X, Y, Z, 1.0)
            gl_Position = vec4(position.y, position.x, 0.0, 1.0);
            
            //gl_PointSize = 5.0;
            
            v_color = vec4(velocity, 0.0, pressure, 1.0);
        }
      </script>
      <script id="heatFrag" type="x-shader/x-fragment">
        precision mediump float;
  
        varying vec4 v_color;
  
        void main() {
        
          // Set fragment color: vec4(r, g, b, alpha)
          gl_FragColor = v_color;
        }
      </script>

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='/js/heatmap.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/render.js') }}"></script>
</body>
</html>
